<script>
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }


    $('#loginForm').submit(function (event) {
      var username = $('#usernameInput').val();
      if (empty(username)) {
        alert('用户名不能为空');
        return false;
      }
      var password = $('#passwordInput').val();
      if (empty(password)) {
        alert('密码不能为空');
        return false;
      }
      return true;
    });
  });
</script>

<div class="container  text-center ">

  <form id="loginForm" class="search-form-middle" action="/login" method="POST">
    <p>用户名：<input id="usernameInput" name="username" type="text"/></p>

    <p>密码&nbsp;&nbsp;&nbsp;&nbsp;：<input id="passwordInput" name="password" type="password"/></p>

    <div >
      <input class="btn btn-default login-btn-width" name="go" type="submit" value="登录">
      <a class="btn btn-default login-btn-width" href="http://beta.jmtw.cc/index/login/reg">注册</a>
    </div>
    <div style="font-size:12px;color:#979797"><br/>温馨提示：<br/>部分早期注册<a href="http://www.jmtw.com" target="_blank">金脉通</a>帐号的用户有可能无法登录工单系统，<br/>请与<a href="http://wpa.qq.com/msgrd?v=3&uin=125303&site=qq&menu=yes" target="_blank">QQ：125303</a>联系补录帐号，谢谢合作！</div>
  </form>
</div>