<div class="text-center">
<p>
  您可以验证您的注册邮箱：<%=email%>以便于我们更好的与您联系^_-
</p>

<p>
  <a class="btn btn-default" href="/requestEmailVerify?email=<%=email%>">重新发送验证邮件</a>&nbsp;&nbsp;<a class="btn btn-default" href="/tickets">返回工单系统首页</a>
</p>
</div>